@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  @import '../shared/assets/fonts/kaspersky-sans/index.css';
  @import '../shared/assets/fonts/kaspersky-sans-display/index.css';
}

@layer components {
  .gradient-base {
    @apply bg-gradient-to-r from-success from-20% via-warning to-danger;
  }
  .max-w-layout {
    max-width: 1248px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
